
<table class = "table table-bordered table-hover table-striped table-secondary">
    <thead class = table-dark>
        <tr>
            <th>ID</th>
            <th>AMOUNT</th>
            <th>SUBMITTED TIME</th>
            <th>RESOLVED TIME</th>
            <th>DESCRIPTION</th>
            <th>AUTHOR ID</th>
            <th>RESOLVER ID</th>
            <th>TYPE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ReimbResponse of reimbs" >
            <td> {{ ReimbResponse.id }} </td>
            <td>$ {{ ReimbResponse.amount }} </td>
            <td> {{ ReimbResponse.submitted }} </td>
            <td> {{ ReimbResponse.resolved }} </td>
            <td> {{ ReimbResponse.description }} </td>
            <td> {{ ReimbResponse.authorId }} </td>
            <td> {{ ReimbResponse.resolverId }} </td>
            <td> {{ ReimbResponse.typeNmae }} </td>
            <td> {{ ReimbResponse.statusName }} </td>
        <div *ngIf = display(ReimbResponse.statusName)>

            <td>
                <button type="button" class="btn btn-dark btn1" (click)="update(ReimbResponse.id)">UPDATE</button>
            </td>
        </div>

        <div *ngIf = !display(ReimbResponse.statusName)>

            <td><h6>-</h6></td>

        </div>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-dark btn2" (click)="return()">Return</button>

