table{
    padding:5%;
    margin-top: 2%;
    margin-left: 5%;
   max-width: 90%;

}

.btn2{
    margin-top: 1%;
    width: 150px;
    margin-left: 46%;
    height: 15mm;
}

.btn1{
    width: 100px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 15%;
}

h6{
    margin-left:1cm;
    padding: 25%;
}