
<table class = "table table-bordered table-hover table-striped table-secondary">
    <thead class = table-dark>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email</th>
            <th>USERNAME</th>
            <th>ROLE</th>
            <th>ACTIVE STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let UserResponse of users" >
            <td> {{ UserResponse.id }} </td>
            <td> {{ UserResponse.firstName }} </td>
            <td> {{ UserResponse.lastName }} </td>
            <td> {{ UserResponse.email }} </td>
            <td> {{ UserResponse.username }} </td>
            <td> {{ UserResponse.roleName }} </td>
            <td> {{ UserResponse.active }} </td>

            <div>

                <td>
                    <button type="button" class="btn btn-dark btn1" (click)="update(UserResponse.id)">UPDATE</button>
                </td>
            </div>

        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-dark" (click)="return()">Return</button>