<div class="container-fluid bg-light">

    <h3 id="h" class="row">PLEASE ENTER USERNAME</h3>
    
    <input class="text-center row" type="text" placeholder="Username" [(ngModel)] = username>

    <div class="form-group" *ngIf =btnn >
        <p  id="p2" *ngIf = btnn>{{error}}</p>
    </div>
    
    <button id="btn1" type="button" class="btn btn-dark row" (click)="getUserByUsername()">Search</button>
    
    </div>
    
    <div id="theUser" *ngIf="btn">
    
    <table class = "table table-bordered table-hover table-striped table-secondary">
        <thead class = table-dark>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>USERNAME</th>
                <th>ROLE</th>
                <th>ACTIVE STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ user.id }} </td>
                <td> {{ user.firstName }} </td>
                <td> {{ user.lastName }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.roleName }} </td>
                <td> {{ user.active }} </td>
            </tr>
        </tbody>
    </table>
    
    </div>
    
    
    <button id="btn2" type="button" class="btn btn-dark" (click)="return()">Return</button>