<button type="button" id="b" class="btn btn-dark" (click)="logout()">LOG OUT</button>
<h1>Welcome {{firstName}}!</h1>
<div>
    <nav class="navbar">

        <ul class="nav flex-column">

            <li class="navbar-item">
                <button type="button" class="btn btn-dark navbarbtn" (click)="goToGetMyReimb()">MY REIMBURSEMENTS</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark navbarbtn" (click)="goToCreateReimb()">NEW REIMBURSEMENT</button>
            </li>

            <!-- <li class="navbar-item">
                <button type="button" class="btn btn-dark navbarbtn" (click)="goToUpdateReimb()">EDIT REIMBURSEMENT</button>
            </li> -->

        </ul>

    </nav>
</div>

