#btn2{
    margin-top: 1%;
    width: 150px;
    height: 15mm;
    margin-left: 46.5%;
}

#btn1{
    margin-top: 5%;
    width: 120px;
    height: 10mm;
    margin-left: 35%;
}

input{
    margin-left: 10%;
    align-content: center;
    margin-top: 5%;
    width: 80%;
}

.container-fluid {
    backdrop-filter: blur(5px);
    margin-top: 7%;
    background-color: white;
    border-radius: 8%;
    width:20%; 
    padding: 1%;
    margin-left: 40%;
}



#h{
    margin-left: 22%;
    font-size: 24px;
    font-weight: bold;
}

table{
    width:50%; 
    margin-top: 1%;
    padding: 1%;
    margin-left: 25%;
}

h6{
    padding:1cm
    
}


.btn1{
    width: 100px;
    margin-left: 5%;
    margin-top: 10%;
}