<h1>Welcome {{firstName}}!</h1>

<div>
    <nav class="navbar">

        <ul class="nav flex-column">

            <li class="navbar-item">
                <button type="button" class="btn btn-dark" (click)="goToGetALLUsers()">VIEW ALL USERS</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark" >FIND USER BY ID</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark">FIND USER BY USERNAME</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark">FIND USER BY EMAIL</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark">REGISTER NEW USER</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-dark">UPDATE EXSITING USER</button>
            </li>

        </ul>

    </nav>
</div>