#btn2 {
    margin-top: 1%;
    width: 150px;
    height: 15mm;
    margin-left: 47%;
}

.btn1 {
    width: 120px;
    height: 10mm;
    margin-left: 42%;
    margin-top: 2%;
}

#btn3 {
    margin-top: 1%;
    width: 150px;
    height: 15mm;
    margin-left: 47%;
}



.container-fluid {
    backdrop-filter: blur(5px);
    margin-top: 7%;
    background-color: white;
    border-radius: 8%;
    width: 40%;
    padding: 1%;
    margin-left: 31%;
}



h5{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
