<div class="container-fluid bg-light">

    <h3 id="h" class="row">PLEASE ENTER ID</h3>
    
    <input class="text-center row" type="text" placeholder="Reimb ID" [(ngModel)] = id>
    
    <button id="btn1" type="button" class="btn btn-dark row" (click)="getReimbById()">Search</button>
    
    </div>
    
    <div *ngIf="btn">
    
    <table class = "table table-bordered table-hover table-striped table-secondary">
        <thead class = table-dark>
            <tr>
                <th>ID</th>
                <th>AMOUNT</th>
                <th>SUBMITTED TIME</th>
                <th>RESOLVED TIME</th>
                <th>DESCRIPTION</th>
                <th>AUTHOR ID</th>
                <th>RESOLVER ID</th>
                <th>TYPE</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ reimb.id }} </td>
                <td>$ {{ reimb.amount }} </td>
                <td> {{ reimb.submitted }} </td>
                <td> {{ reimb.resolved }} </td>
                <td> {{ reimb.description }} </td>
                <td> {{ reimb.authorId }} </td>
                <td> {{ reimb.resolverId }} </td>
                <td> {{ reimb.typeNmae }} </td>
                <td> {{ reimb.statusName }} </td>
                <div *ngIf=display(reimb.statusName)>
                    <td>
                        <button type="button" class="btn btn-success btn1"(click)="approve(reimb.id)">APPROVE</button>
                        <button type="button" class="btn btn-danger btn1" (click)="deny(reimb.id)">DENY</button>
                    </td>
                </div>

                <div *ngIf=!display(reimb.statusName)>
                    <td>
                        <h6>-</h6>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    
    </div>
    
    
    <button id="btn2" type="button" class="btn btn-dark" (click)="return()">Return</button>